@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 0px;
  background-color: orange;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 5px;
}
.result {
  font-family: Roboto;
  text-align: right;
  font-size: 75px;
}
